@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lora&display=swap');
@import url('https://www.flaticon.com/de/uicons');
body{
    background: #f7f7f7;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 10px;
}
h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    color: #f96932;
}
h2{
    font-size: 20px;
    color: #dc565d;
}
.square{
    height: 15px;
    width: 100px;
    border: 1px solid #dc565d;
}
footer{
    background-color: #cccccc;
    text-align: center;
    padding: 5px;
}
.subtext{
    color: #777777;
}
.main{
    padding: 15px;
}
i{
    margin: 5px;
}
header{
    padding: 5px;
    background-color: #ccd7db;
    color: #f96932;
}
.Logo{
    margin: 10px;
    font-size: 45px;
    color: #dc565d;
    display: inline-block;
}

.navBtn{
    height: 40px;
    font-size: 20px;
    background-color: #f96a32cc;
    text-transform: uppercase;
}

div.image {
    margin: 5px;
    border: 2px solid #dc565d;
    float: left;
    width: 300px;
  }
  
  div.image img {
    width: 100%;
    height: auto;
  }
  
  div.description {
    padding: 5px;
    text-align: center;
  }
div.gallery{
    display: table;
}

div.vid {
    margin: 5px;
    border: 2px solid #dc565d;
    float: left;
    width: 500px;
  }
  
  div.vid video {
    width: 100%;
    height: auto;
  }
  
div.aud {
    margin: 5px;
    border: 2px solid #dc565d;
    float: left;
    width: 300px;
  }
  
  div.aud audio {
    width: 100%;
    height: 40px;
  }

  h3 {
    color: #6a5590;
    font-size: 20px;
    margin: 4px
}